# File Specification: https://gist.github.com/Shadows-of-Fire/88ac714a758636c57a52e32ace5474c1

# Apotheosis Adventure Module Config

affixes {
    # A list of type overrides for the affix loot system.  Format is <itemname>|chance|<type>.
    # Valid types are: none, sword, trident, shield, heavy_weapon, pickaxe, shovel, crossbow, bow
    S:"Equipment Type Overrides" <
        minecraft:iron_sword|sword
        minecraft:shulker_shell|none
     >

    # The chance that a naturally spawned mob will be granted an affix item. 0 = 0%, 1 = 100%
    S:"Random Affix Chance"=0.04

    # The chance that a mob will drop a gem. 0 = 0%, 1 = 100%
    S:"Gem Drop Chance"=0.035

    # The flat bonus chance that bosses have to drop a gem, added to Gem Drop Chance. 0 = 0%, 1 = 100%
    S:"Gem Boss Bonus"=0.4

    # If affixes that cleave can hit players (excluding the user).
    B:"Cleave Players"=false

    # Loot Rules, in the form of Loot Table Matchers, permitting affix items to spawn in loot tables.
    S:"Affix Item Loot Rules" <
        minecraft:chests.*|0.12
        .*chests.*|0.10
     >

    # Loot Rules, in the form of Loot Table Matchers, permitting affixes to be added to any valid item. Here, the chance refers to the chance an item receives affixes.
    S:"Affix Convert Loot Rules" <
        .*blocks.*|0
        .*|0.15
     >

    # Dimensional rarities for affix conversion (see "Affix Convert Loot Rules"), in the form of dimension|min|max. A dimension not listed uses all rarities.
    S:"Affix Convert Rarities" <
        overworld|common|uncommon
        the_nether|uncommon|epic
        the_end|rare|mythic
     >

    # If Quark's Attribute Tooltip handling is disabled for affix items
    B:"Disable Quark Tooltips for Affix Items"=true

    # The item that will be used when attempting to place torches with the torch placer affix.
    S:"Torch Placement Item"=minecraft:torch
}


gems {
    # Loot Rules, in the form of Loot Table Matchers, permitting gems to spawn in loot tables.
    S:"Gem Loot Rules" <
        minecraft:chests.*|0.08
        .*chests.*|0.06
     >

    # Dimensional rarities for gem drops, in the form of dimension|min|max. A dimension not listed uses all rarities.
    S:"Gem Dimensional Rarities" <
        overworld|common|uncommon
        the_nether|uncommon|epic
        the_end|rare|mythic
     >
}


bosses {
    # If boss items are always cursed.  Enable this if you want bosses to be less overpowered by always giving them a negative effect.
    B:"Curse Boss Items"=true

    # The range at which boss spawns will be announced.
    S:"Boss Announce Range"=128.0

    # The volume of the boss announcement sound. 0 to disable. This control is clientside.
    S:"Boss Announce Volume"=1.0

    # If the boss announcement range ignores y-level.
    B:"Boss Announce Ignore Y"=false

    # The time, in ticks, that must pass between any two natural boss spawns in a single dimension.
    I:"Boss Spawn Cooldown"=24000

    # If true, invading bosses will automatically target the closest player.
    B:"Boss Auto-Aggro"=true

    # If true, bosses will glow when they spawn.
    B:"Boss Glowing On Spawn"=true

    # List of sound effects to play when boss spawns are announced. This control is clientside.
    S:"Boss Announce Sounds" <
        block.end_portal.spawn
        entity.wither.spawn
        entity.warden.emerge
     >

    # Dimensions where bosses can spawn naturally, spawn chance, and spawn rules.
    S:"Boss Spawn Dimensions" <
        minecraft:overworld|0.009|NEEDS_SKY
        minecraft:the_nether|0.012|ANY
        minecraft:the_end|0.009|SURFACE_OUTER_END
        twilightforest:twilight_forest|0.009|NEEDS_SKY
        aether:the_aether|0.009|NEEDS_SKY
     >
}


worldgen {
    # The dimensions that the deadly module will generate in.
    S:"Generation Dimension Whitelist" <
        overworld
     >
}


spawners {
    # The chance that a Rogue Spawner has a "valuable" chest instead of a standard one. 0 = 0%, 1 = 100%
    S:"Spawner Value Chance"=0.11
}